.button {
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  font-size: 14px;
  letter-spacing: 3px;
  transition: all 180ms ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.04) perspective(10px);
  }
}

.button--card {
  width: 140px;
  height: 40px;
  margin-top: 8px;
  align-self: center;
  flex-shrink: 0;
  border-color: rgba(231, 142, 69, 0.281);
  background-color: rgba(231, 142, 69, 0.445);
}

.button--modal {
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: rgba(231, 142, 69, 0.281);
  background-color: rgba(231, 142, 69, 0.445);
}

.button--float {
  width: 55px;
  height: 55px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 55px;
  background-color: #ffffff77;
}

.button--retry {
  width: 110px;
  height: 40px;
  margin-top: 8px;
  align-self: center;
  flex-shrink: 0;
  border-color: rgb(238, 57, 57);
  background-color: rgb(250, 68, 68);
}

@media screen and (min-width: 769px) {
  .button--float {
    display: none;
  }
}
