* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

p,
ul {
  margin: 0;
}

ul {
  padding-left: 18px;
}

li {
  margin-top: 6px;
}

.hidden {
  display: none;
}

abbr {
  text-decoration: none;
}

#root {
  height: 100vh;
}
